<a href="https://colab.research.google.com/github/jzanatta/exs-IPE/blob/main/lista_IPE_1_peter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#EX 1
nome = ('joao')
idade = ('20 anos')
cidade = ('jundiai')
print(nome+',', idade+',', cidade)

joao, 20 anos, jundiai

In [6]:
#EX 2
nome = input('nome: ')
idade = input('idade: ')
cidade = input('cidade: ')
print(nome+',', idade+',', cidade)

nome: joao
idade: 20 anos
cidade: jundiai
joao, 20 anos, jundiai

In [14]:
#EX 3
x = int(input('indique X: '))
y = int(input('indique Y: '))
print(x,'+', y, '=', x+y)
print(x,'-', y, '=', x-y)
print(x,'*', y, '=', x*y)
print(x,'/', y, '=', x/y)
print(x,'//', y, '=', x//y)
print(x,'%', y, '=', x%y)
print(x,'^', y, '=', x**y)

indique X: 5
indique Y: 2
5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 // 2 = 2
5 % 2 = 1
5 ^ 2 = 25

In [18]:
#EX 4
c = float(input('qual a temperatura em C°? '))
f = ((c*9)/5+32)
print(c, 'convertido para fahrenheit é ', f)

qual a temperatura em C°? 31
31.0 convertido para fahrenheit é  87.8

In [21]:
#EX 5
m = float(input('qual a distancia em milhas? '))
km = (m*1.60934)
print(m, 'milhas é igual a ', km, 'quilometros')

qual a distancia em milhas? 1
1.0 milhas é igual a  1.60934 quilometros

In [26]:
#EX 6
a = float(input('entre com a variavel a: '))
b = float(input('entre com a variavel b: '))
c = float(input('entre com a variavel c: '))
d = (b**2 - 4*a*c)
print('o delta dessa equação de segudo grau é: ', d)

entre com a variavel a: -2
entre com a variavel b: 2
entre com a variavel c: 2
o delta dessa equação de segudo grau é:  20.0

In [29]:
#EX 7
pe = float(input('qual o preço do litro do etanol? '))
pg = float(input('qual o preço do litro da gasolina? '))
pte = (pe*50) #preço do tanque de etanol
ptg = (pg*50) #preço do tanque de gasolina
vr = (pe/pg) #valor relativo do etanol em relaçao a gasolina
pepg = (pg/pe) #quanto litros de etanol eu compro com o valor de um litro de gasolina
print('um tanque de 50 L cheio de etanol custa R$', pte)
print('um tanque de 50 L cheio de gasolina custa R$', ptg)
print('o valor relativo do etanol em relação a gasolina é de R$', vr)
print('com o valor de um litro de gasolina eu compro', pepg, ' litros de etanol')

qual o preço do litro do etanol? 3.5
qual o preço do litro da gasolina? 5
um tanque de 50 L cheio de etanol custa R$ 175.0
um tanque de 50 L cheio de gasolina custa R$ 250.0
o valor relativo do etanol em relação a gasolina é de R$ 0.7
com o valor de um litro de gasolina eu compro 1.4285714285714286  litros de etanol

In [31]:
#EX 8
print('entre com as medidas (em M ) do salão: ')
ls = float(input('largura: ')) 
cs = float(input('comprimento: '))
print('entre com as medidas (em mm ) do azulejo: ')
lamm = float(input('largura: ')) #em mm
camm = float(input('comprimento: ')) #em mm
la = (lamm/100) #convertendo para M
ca = (camm/100) #convertendo para M
pl = (ls/la) #peças necessarias para cobrir a largura do salão
print('serão necessarios ', pl, ' azulejos para cubrir uma fileira do piso do salão')
As = (ls*cs) #area salão
Aa = (la*ca) #area azulejo
x = (As/Aa) #total de peças necessarias para cubrir o salão inteiro
print('o total de azulejos para cobrir o salão inteiro é de ', x, ' peças')

entre com as medidas (em M ) do salão:
largura: 12
comprimento: 20
entre com as medidas (em mm ) do azulejo:
largura: 50
comprimento: 50
serão necessarios  24.0  azulejos para cubrir uma fileira do piso do salão
o total de azulejos para cobrir o salão inteiro é de  960.0  peças